{% extends 'base.html.twig' %}

{% block body %}
    <div class="header">
        <h2>Joueurs <span class="badge badge-info">{{ count }}</span></h2>
        <p>Last Update : <b>{{ update|date('d/m/Y h:i') }}</b></p>
    </div>

    <hr>
    {{ form_start(form, {'attr': {'class': 'form-inline'}}) }}
    <div class="form-row mx-auto">
        <div class="col">
            {{ form_widget(form.rankMin) }}
        </div>
        <div class="col">
            {{ form_widget(form.rankMax) }}
        </div>
        <div class="col">
            {{ form_widget(form.categorie) }}
        </div>
        <div class="col">
            {{ form_widget(form.submit) }}
        </div>
        <div class="col">
            <a href="{{ path('joueur_index') }}" class="btn btn-dark">RAZ Filtre</a>
        </div>
    </div>
    {{ form_end(form) }}
    <hr>

    <table class="table table-responsive-xl table-striped table-dark table-hover">
        <thead class="thead-dark">
        <tr>
            <th>Pseudo</th>
            <th>Links</th>
            <th>Solo - 1v1</th>
            <th>Double - 2v2</th>
            <th>Solo Standard - 3v3</th>
            <th>Standard - 3v3</th>
            <th>Fonction</th>
            <th>Line-Up</th>
            <th>Commentaires</th>
            {% if is_granted('ROLE_ADMIN') %}
                <th>Actions</th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% for joueur in joueurs %}
            <tr>
                <td>
                    <b>{{ joueur.pseudo }}</b><br>
                    {% if joueur.association %}
                        <span class="small" style="color: #FECF10">Membre Association</span><br>
                    {% endif %}
                    {% if joueur.lineUp and joueur.lineUp.esport %}
                        <span class="small" style="color: #ff0000;">Delta e-Sport</span>
                    {% endif %}
                </td>
                <td>
                    <a href="{{ joueur.url }}" target="_blank" class="text-white">{{ joueur.url }}</a> <br>
                    <a href="https://rltracker.pro/profiles/{{ joueur.steamId }}/steam"
                       target="_blank">rltracker.pro</a> -
                    <a href="https://rocketleague.tracker.network/profile/steam/{{ joueur.steamId }}/" target="_blank">tracker.network</a>
                </td>

                {% for ranks in joueur.ranks %}
                    <td>
                        <img src="{{ asset('bundles/app/img/') }}{{ ranks.tiers.image }}.png" alt="" height="50"
                             width="50"><br>
                        <span class="small font-weight-bold">{{ ranks.tiers.tierName }}</span><br>
                        <span class="small font-weight-bold text-secondary">Division {{ ranks.divisions }}</span><br>
                        <span class="small font-weight-bold text-secondary">{{ ranks.points }} pts - {{ ranks.nbMatch }}
                            Matches</span><br>
                    </td>
                {% endfor %}
                <td>
                    {% for function in joueur.functions %}
                        <b style="color: {{ function.color }}">{{ function.name }}</b><br>
                    {% endfor %}
                </td>
                <td>
                    {% if joueur.lineUp %}
                        {{ joueur.lineUp.tag }}
                    {% endif %}
                </td>
                <td>{{ joueur.comment }}</td>
                {% if is_granted('ROLE_ADMIN') %}
                    <td>
                        <a href="{{ path('joueur_edit', { 'id': joueur.id }) }}" class="text-dark">
                        <span class="fa-stack fa-lg">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                        </span>
                        </a>
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
