{% extends 'base.html.twig' %}

{% block body %}
    <div class="header">
        <h2>Tournois</h2>
    </div>

    <hr>
    {{ form_start(form, {'attr': {'class': 'form-inline'}}) }}
    <div class="form-row mx-auto">
        <div class="col">
            {{ form_widget(form.mois) }}
        </div>
        <div class="col">
            {{ form_widget(form.annee) }}
        </div>
        <div class="col">
            {{ form_widget(form.lineUp) }}
        </div>
        <div class="col">
            {{ form_widget(form.site) }}
        </div>
        <div class="col">
            {{ form_widget(form.categorie) }}
        </div>
        <div class="col">
            {{ form_widget(form.resultats) }}
        </div>
        <div class="col">
            {{ form_widget(form.submit) }}
        </div>
        <div class="col">
            <a href="{{ path('site_index') }}" class="btn btn-dark">RAZ Filtre</a>
        </div>
    </div>
    {{ form_end(form) }}
    <hr>

    <table class="table table-responsive-xl table-striped table-dark table-hover">
        <thead>
        <tr>
            <th>Date</th>
            <th>Tournois</th>
            <th>Line Up</th>
            <th>Type</th>
            <th>Resultats</th>
            <th>Commentaires</th>
            {% if is_granted('ROLE_LU') %}
                <th>Actions</th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% for tournoi in sites %}
            <tr>
                <td>{{ tournoi.dateTournois|date('d/m/Y') }}</td>
                <td><a href="{{ path('site_show', {'id': tournoi.sites.id}) }}">{{ tournoi.sites.name }}</a></td>
                <td><a href="{{ path('lineup_show', {'id': tournoi.lineUps.id}) }}">{{ tournoi.lineUps.tag }}</a></td>
                <td>{{ tournoi.types.name }}</td>
                <td>{{ tournoi.tours }}</td>
                <td>{{ tournoi.commentaires }}</td>
                {% if is_granted('ROLE_LU') %}
                    <td>
                        {% if is_granted('ROLE_ADMIN') or app.user.username == tournoi.lineUps.tag|lower %}
                            <a href="{{ path('tournois_edit', { 'id': tournoi.id }) }}" class="text-dark">
                        <span class="fa-stack fa-lg">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                        </span>
                            </a>
                        {% endif %}
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
