{% extends 'base.html.twig' %}

{% block body %}
    <h1>Tiers list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Tierid</th>
                <th>Tiername</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for tier in tiers %}
            <tr>
                <td><a href="{{ path('tier_show', { 'id': tier.id }) }}">{{ tier.id }}</a></td>
                <td>{{ tier.tierId }}</td>
                <td>{{ tier.tierName }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('tier_show', { 'id': tier.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('tier_edit', { 'id': tier.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('tier_new') }}">Create a new tier</a>
        </li>
    </ul>
{% endblock %}
