{% extends 'base.html.twig' %}
{% block title %}Fonctions{% endblock %}
{% block body %}
    <div class="header">
        <h2>Fonctions</h2>
        <a href="{{ path('fonction_new') }}" class="btn btn-dark" type="button">Ajouter une fonction</a>
    </div>

    <table class="table table-responsive-xl table-striped table-dark table-hover">
        <thead>
        <tr>
            <th>Nom</th>
            <th>Couleur</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for fonction in fonctions %}
            <tr>
                <td>{{ fonction.name }}</td>
                <td><span style="color: {{ fonction.color }};">{{ fonction.color }}</span></td>
                <td>
                    <a href="{{ path('fonction_edit', { 'id': fonction.id }) }}" class="text-dark">
                        <span class="fa-stack fa-lg">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                        </span>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
