{% extends 'base.html.twig' %}

{% block body %}
    <div class="header">
        <h2 class="text-center">Line Ups <span class="badge badge-info">{{ count }}</span></h2>
    </div>

    <table class="table table-responsive-xl table-striped table-dark table-hover">
        <thead class="thead-dark">
        <tr>
            <th>Nom</th>
            <th>Tag</th>
            <th>Rank Min</th>
            <th>Membres</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for lineUp in lineUps %}
            <tr>
                <td>{{ lineUp.nom }}</td>
                <td>{{ lineUp.tag }}</td>
                <td><img src="{{ asset('bundles/app/img/') }}{{ lineUp.rankMin.image }}.png" height="50" width="50">
                </td>
                <td>
                    {% set capitaine = false %}
                    {% for joueur in lineUp.joueurs %}
                        {% for fonction in joueur.functions %}
                            {% if fonction == 'Capitaine' %}
                                {% set capitaine = true %}
                                <b class="text-danger">{{ joueur }}</b>
                            {% endif %}
                        {% endfor %}
                        {% if not capitaine %}
                            {{ joueur }}
                        {% endif %}
                        {% if not loop.last %} - {% endif %}
                        {% set capitaine = false %}
                    {% endfor %}
                </td>

                <td>
                    <a href="{{ path('lineup_show', { 'id': lineUp.id }) }}" class="text-dark">
                        <span class="fa-stack fa-lg">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-eye fa-stack-1x fa-inverse"></i>
                        </span>
                    </a>
                    {% if is_granted('ROLE_LU') %}
                        {% if is_granted('ROLE_ADMIN') or app.user.username == lineUp.tag|lower %}
                            <a href="{{ path('lineup_edit', { 'id': lineUp.id }) }}" class="text-dark">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        {% endif %}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
