{% extends 'base.html.twig' %}

{% block body %}
    <h1>Divisions list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Division</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for division in divisions %}
            <tr>
                <td><a href="{{ path('division_show', { 'id': division.id }) }}">{{ division.id }}</a></td>
                <td>{{ division.division }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('division_show', { 'id': division.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('division_edit', { 'id': division.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('division_new') }}">Create a new division</a>
        </li>
    </ul>
{% endblock %}
